
.posts {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
}
.posts_logo {
  align-self:center;
}
.posts_text {
  width: 83%;
  padding: 0 10px;
  font-size: 14px;
}
.posts_text p {
  margin-left: 8px;
}
.posts img {
  max-width: 100%;
  max-height: 90px;
  height: auto;
  margin-left: 10px;
  border-radius: 50%;
}

.posts_count {
  margin-left: 3px;
}
.posts_likes {
  width: 50px;
  height: 25px;
}
.posts_likes i {
  padding: 10px;
  cursor: pointer;
}

.posts_likes i:hover {
  box-shadow: 0 8px 16px 0 #f5c9f5;
  border-radius: 10px;
}

.delete_post {
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
}
.delete_post img {
  max-width: 64%;
  cursor: pointer;
  max-height: 26px;
  padding: 2px;
}
.delete_post img:hover {
  box-shadow: 0 8px 16px 0 #dd87dd;
}

@media (max-width: 500px) { 
  .posts {
    flex-wrap: wrap;
  }
  .posts_text {
    width: 77%;
  }
}
@media (max-width: 374px) { 
  .posts_text {
    width: 100%;
  }
  .delete_post {
    margin-left: 2px;
  }
  
}
