.error {
  color: red;
  margin-left: 20px;
  border: 5 px solid black;
}

.message_tx_in {
  width: 100%;
  margin: 0 20px 10px 20px;
  background-color: rgb(255, 255, 255);
  padding: 0 8px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #a785a4;
  color: #313131;
  font-size: 15px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
.message_tx_in:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
}

.message_tx_error {
  border: 1px solid red;
  border-bottom: 3px solid #801f12;
}