
.nav {
  grid-area: nav;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
}
.nav h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 25px;
}


.nav ul {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 15px;
  text-align: center;
}
.nav li a:hover {
  background-color: #555;
  color: white;
  border-radius: 5px;
}

.menu, 
.close {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #f5c9f5;
  padding: 10px 20px;
  display: none;
  font-family: IBM Plex Serif,serif;
}

.menu:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu {
  width: 50px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
}
@media (max-width: 1024px) { 

  .nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) { 
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: lightgrey;
    transition: 0.5s linear;
    
  }
  nav ul.toggle{
    left: 0;
  }
  
  .close {
    display: block;
    border: 1px solid black;
  } 
  .menu {
    display: block;
    margin: 5px;
  }
  .nav h1 {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 16px;
    justify-self: start;
  }
}




