.header {
    grid-area: header;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30%;
}
.content {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.header img {
    max-width: 100%;
    margin-left: 15px;
}
aside {
    display: flex;
    flex-direction: row;
}
aside h3 {
    font-weight: 300;
    margin-top: 10px;
}

.logout_btn {
    margin: 4px 14px;
    padding: 11px 17px;
    border-radius:5px;
    border:1px solid #f5c9f5;
    font-family: IBM Plex Serif,serif;
    cursor: pointer;
    text-transform: uppercase;
}
.logout_btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.login {
    font-family: IBM Plex Serif,serif;
    color: black;
    padding: 8px 20px 8px 20px;
    border-radius:5px;
    border:1px solid #f5c9f5;
    text-decoration: none;
    margin: 4px 14px;
    list-style-type: none;
    margin-right: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.login:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
