.myposts {
  padding-bottom: 10px;
}
.myposts h2 { 
  margin: 20px;
  font-weight: 400;
}

.myposts_tx {
  display: flex;
  flex-wrap: wrap;
}

.myposts_tx_btn {
  margin: 0 20px 10px 20px;
  background: whitesmoke;
  padding: .6rem 2rem;
  border-radius:6px;
  border:1px solid #f5c9f5;
}
.myposts_tx_btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
