
.dialogs {
  display: flex;
}
.dialogs_list {
  width: 15%;
  margin: 5px;
  min-height: 500px;
}
.dialogs_users {
  width: 85%;
  margin: 10px;
}

.dialogs_users_container {
  display: flex;
  margin-top: 10px;
}
.dialogs_users_logo {
  align-self:center;
  padding-left: 10px;
}

.dialogs_users img {
  max-width: 100%;
  max-height: 70px;
  height: auto;
  border-radius: 50%;
}

.dialogs_users__text {
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
  ALIGN-ITEMS: baseline;
}

.dialogs_users_logo p {
  text-align: center;
  font-style: oblique;
}

.dialogs_users__text p {
  width: 100%;
  min-height: 30px;
  min-width: 30px;
	background-color: #fff;
	border: 1px solid #f5c9f5;
	border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 10px;
}

.dialogs_list ul {
  list-style-type: none;
  margin-top: 15px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.dialogs_list li a {
  color: #000;
  display: block;
  font-family: IBM Plex Serif,serif;
  padding: 8px 0;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.dialogs_list li a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.message {
  margin-top: 10px;
}

.message_tx {
  width: 100%;
  display: flex;
}

.message_tx_btn {
  margin: 0 20px 10px 20px;
  background: whitesmoke;
  padding: .6rem 2rem;
  border-radius:6px;
  border:1px solid #f5c9f5;
}
.message_tx_btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.message_tx_in {
  width: 100%;
  margin: 0 20px 10px 20px;;
  border-radius:6px;
  border:1px solid #f5c9f5;
}
.message_tx_in:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 700px) { 
  .dialogs {
    display: flex;
    flex-wrap: wrap;
  }
  .dialogs_list {
    width: 100%;
    margin: 5px;
    min-height: 50px;
  }
  .dialogs_users {
    width: 100%;
  }

  .dialogs_list ul {
    margin-top: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .dialogs_list li a {
    padding: 8px 0;
    margin: 5px;
    width: 100%;
  }
  
}