
.friends_container {
  max-width: 900px;
  width: 100%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friends_logo {
  align-self:center;
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: 10px;
  min-width: 100px;
}

.friends_logo img {
  max-width: 100%;
  max-height: 120px;
  height: auto;
  border-radius: 50%;
}

.friends_link {
  display: flex;
  justify-content: center;
}

.friends_info {
  width: 50%;
  border-radius: 10px;
  min-height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.center {
  text-align: center;
}
.delete {
  display: flex;
  justify-content: center;
}
.delete button {
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px solid #a785a4;
}
.delete button:hover {
  box-shadow: 0 0px 16px 0 #a785a4;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 500px) { 
  .friends_container {
    flex-wrap: wrap;
  }
  .friends_logo {
    width: 100%;
  }
  .friends_info {
    width: 80%;
  }
}

