.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination span.active {
    border:1px solid #f5c9f5;
    border-radius: 5px;
  }
  
  .pagination span:hover:not(.active) {
    background-color: rgb(208, 223, 224);
    border-radius: 5px;
  }
  .disable:hover {
    border-radius: 5px;
    border:1px solid #a50a4b;
  }