.profile {
  margin-top: 10px;
}
.profile img {
  display: block;
  margin: 10px auto;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.profile_card {
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
 
}
.profile_card img {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  max-height: 350px;
}
.profile_card h2 {
  text-align: center;
  font-weight: 300;
  margin: 10px;
}
.profile_card_avatar {
  align-self:center;
}
.profile_container {
  font-size: 14px;
  line-height: 1.5rem;
  align-self: center;
}

input[type="file"] {
  display: none;
}
.custom_file_upload {
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 53px;
}

.custom_file_upload:hover {
  box-shadow: 0 8px 16px 0 #e2dde2;
  border-radius: 10px;
}
  