.profile {
  margin-top: 10px;
}

.profile_card {
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
 
}
.profile_card img {
  display: block;
  margin-top: 10px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin: 0 auto;
}
.profile_card h2 {
  text-align: center;
  font-weight: 300;
  margin: 10px;
}
.profile_card_avatar {
  align-self:center;
}
.profile_container {
  font-size: 14px;
  line-height: 1.5rem;
  align-self: center;
  text-align: center;
}
.profile_container div {
  align-items: center;
  justify-content: center;
  display: flex;
}
.profile_container button {
  border:1px dashed#f5c9f5;
  padding: 13px 6px;
  font-family: IBM Plex Serif,serif;
  cursor: pointer;
  position: absolute;
  top: 103px;
  right: 18px;
  border-radius: 5px;
}

.profile_container button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input[type="file"] {
  display: none;
}
.none {
  display: none;
}

@media (max-width: 1024px) { 
  .profile_container button {
    top: 239px;
    right: 21px;
  }

}
@media (max-width: 500px) { 
  .profile_container button {
    top: 187px;
    right: 17px;
  }
}

.example_1 .form_group {
  position: relative;
}
.example_1 input[type=file] { 
  outline:0;
  opacity:0;
  pointer-events:none;
  user-select:none
}
.example_1 .label {
  width:50px;
  border:1px dashed#f5c9f5;
  border-radius:5px;
  display:block;
  transition:border 300ms ease;
  cursor:pointer;
  text-align:center;
  margin: 0 auto;
  position: relative;
  top: 268px;
  right: -127px;
}
.example_1 .label i { 
  display:block;
  font-size:27px;
}
.example_1 .label i,.example_1 .label .title {
  color:grey;
  transition:200ms color
}
.example_1 .label:hover {
  border:1px solid #f5c9f5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.example_1 .label:hover i,.example_1 .label:hover .title {
color:#000
}