@import '../../../scss/app.scss';
.status {
  input {
    background-color: white;
    padding: 1px 6px;
    border: none;
    outline: none;
    border-radius: 5px 0px 5px 0px;
    border-bottom: 1px solid #a785a4 !important;
    color: #313131;
    font-weight: 200;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 3px;
  text-align: center;
  &_active {
    cursor: pointer;
    span {
      &:hover {
        @include hover-blue;
      }
    }
  }
}
