
.users_container {
  max-width: 900px;
  width: 100%;
  display: flex;
  margin: 10px auto;
}
.users_logo {
  align-self:center;
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: 10px;
  min-width: 100px;
}

.users_logo img {
  max-width: 100%;
  max-height: 90px;
  height: auto;
  border-radius: 50%;
}

.users_center {
  display: flex;
  justify-content: center;
}
.users_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.users_btn {
  display: block;
  margin-top: 10px;
  background: whitesmoke;
  padding: 0.4rem 2rem;
  border-radius: 6px;
  border: 1px solid #f5c9f5;
}
.users_btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.users_text {
  width: 80%;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.users_info {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  margin: 5px;
}

@media (max-width: 500px) { 
  .users_container {
    flex-wrap: wrap;
  }
  .users_logo {
    width: 100%;
  }
  .users_text {
    width: 100%;
  }
}
.none {
  display: none;
}
